In [25]:
import pandas as pd

In [33]:
df = pd.read_csv('./wta_matches_2022.csv') 
%time
print(df.head())

CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 4.05 µs
  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2022-2014   Adelaide 1    Hard         30             P      20220103
1  2022-2014   Adelaide 1    Hard         30             P      20220103
2  2022-2014   Adelaide 1    Hard         30             P      20220103
3  2022-2014   Adelaide 1    Hard         30             P      20220103
4  2022-2014   Adelaide 1    Hard         30             P      20220103

   match_num  winner_id winner_seed winner_entry  ... l_1stIn l_1stWon  \
0        300     202458           1          NaN  ...    19.0     16.0
1        299     202458           1          NaN  ...    39.0     27.0
2        298     214981           7          NaN  ...    45.0     29.0
3        297     202458           1          NaN  ...    54.0     34.0
4        296     216347           5          NaN  ...    45.0     30.0

   l_2ndWon l_SvGms  l_bpSaved  l_bpFaced winner_rank winner_rank_points  \
0      11.0     8.0        0.0        3.0         1.0             7582.0
1       9.0     9.0        2.0        5.0         1.0             7582.0
2      12.0    10.0        7.0       11.0        14.0             2855.0
3       7.0     9.0        7.0        9.0         1.0             7582.0
4      12.0    12.0        6.0       11.0         9.0             3786.0

  loser_rank loser_rank_points
0       14.0            2855.0
1        9.0            3786.0
2      105.0             771.0
3       12.0            2971.0
4       27.0            2166.0

[5 rows x 49 columns]

In [31]:
df = pd.read_csv('./wta_matches_2022.tsv', sep='\t')
%time
print(df.head())

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 9.06 µs
  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2022-2014   Adelaide 1    Hard         30             P      20220103
1  2022-2014   Adelaide 1    Hard         30             P      20220103
2  2022-2014   Adelaide 1    Hard         30             P      20220103
3  2022-2014   Adelaide 1    Hard         30             P      20220103
4  2022-2014   Adelaide 1    Hard         30             P      20220103

   match_num  winner_id winner_seed winner_entry  ... l_1stIn l_1stWon  \
0        300     202458           1          NaN  ...    19.0     16.0
1        299     202458           1          NaN  ...    39.0     27.0
2        298     214981           7          NaN  ...    45.0     29.0
3        297     202458           1          NaN  ...    54.0     34.0
4        296     216347           5          NaN  ...    45.0     30.0

   l_2ndWon l_SvGms  l_bpSaved  l_bpFaced winner_rank winner_rank_points  \
0      11.0     8.0        0.0        3.0         1.0             7582.0
1       9.0     9.0        2.0        5.0         1.0             7582.0
2      12.0    10.0        7.0       11.0        14.0             2855.0
3       7.0     9.0        7.0        9.0         1.0             7582.0
4      12.0    12.0        6.0       11.0         9.0             3786.0

  loser_rank loser_rank_points
0       14.0            2855.0
1        9.0            3786.0
2      105.0             771.0
3       12.0            2971.0
4       27.0            2166.0

[5 rows x 49 columns]

In [32]:
df = pd.read_excel('./wta_matches_2022.xlsx', sheet_name=0)
%time
print(df.head())

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 2.15 µs
  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2022-2014   Adelaide 1    Hard         30             P      20220103
1  2022-2014   Adelaide 1    Hard         30             P      20220103
2  2022-2014   Adelaide 1    Hard         30             P      20220103
3  2022-2014   Adelaide 1    Hard         30             P      20220103
4  2022-2014   Adelaide 1    Hard         30             P      20220103

   match_num  winner_id winner_seed winner_entry  ... l_1stIn l_1stWon  \
0        300     202458           1          NaN  ...    19.0     16.0
1        299     202458           1          NaN  ...    39.0     27.0
2        298     214981           7          NaN  ...    45.0     29.0
3        297     202458           1          NaN  ...    54.0     34.0
4        296     216347           5          NaN  ...    45.0     30.0

   l_2ndWon l_SvGms  l_bpSaved  l_bpFaced winner_rank winner_rank_points  \
0      11.0     8.0        0.0        3.0         1.0             7582.0
1       9.0     9.0        2.0        5.0         1.0             7582.0
2      12.0    10.0        7.0       11.0        14.0             2855.0
3       7.0     9.0        7.0        9.0         1.0             7582.0
4      12.0    12.0        6.0       11.0         9.0             3786.0

  loser_rank loser_rank_points
0       14.0            2855.0
1        9.0            3786.0
2      105.0             771.0
3       12.0            2971.0
4       27.0            2166.0

[5 rows x 49 columns]

In [29]:
df = pd.read_parquet('./wta_matches_2022.parquet', engine='pyarrow') 
%time
df.describe()

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2594.000000,2.594000e+03,2594.000000,2594.000000,2284.000000,2592.000000,2594.000000,2040.000000,2590.000000,2594.0,...,2488.000000,2488.000000,2488.000000,2488.000000,2488.000000,2488.000000,2585.000000,2585.000000,2560.000000,2560.000000
mean,58.169622,2.022057e+07,231.574402,208749.718196,174.442207,26.284375,209466.639938,173.944118,26.171776,3.0,...,44.238746,25.772106,10.982315,10.549437,4.850884,9.731109,78.689362,1604.451451,117.689453,1166.555078
std,40.908905,2.837332e+02,87.224054,6905.465396,5.769077,4.186044,7397.775922,6.056689,4.313521,0.0,...,15.612674,10.662264,5.572248,2.955502,3.138646,3.770300,116.269686,1446.661533,171.171665,1050.532039
min,2.000000,2.022010e+07,1.000000,200033.000000,157.000000,16.300000,200033.000000,157.000000,14.800000,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,1.000000,2.000000
25%,32.000000,2.022032e+07,199.000000,202434.000000,170.000000,23.500000,202468.000000,170.000000,23.200000,3.0,...,33.000000,18.000000,7.000000,8.000000,3.000000,7.000000,22.000000,734.000000,36.000000,528.000000
50%,32.000000,2.022061e+07,275.000000,206290.500000,175.000000,26.200000,210730.000000,175.000000,26.100000,3.0,...,42.000000,25.000000,10.000000,10.000000,4.000000,9.000000,48.000000,1134.000000,73.000000,867.500000
75%,96.000000,2.022082e+07,288.000000,214643.000000,179.000000,29.000000,214906.000000,179.000000,29.000000,3.0,...,53.000000,33.000000,14.000000,13.000000,7.000000,12.000000,91.000000,2074.000000,123.250000,1360.000000
max,128.000000,2.022111e+07,300.000000,260672.000000,185.000000,40.900000,260672.000000,186.000000,42.100000,3.0,...,120.000000,71.000000,50.000000,19.000000,21.000000,27.000000,1503.000000,10485.000000,1556.000000,10335.000000

In [20]:
# excel file took the least amount of time to read